# Enable rewriting
RewriteEngine On

# Force HTTPS and www in a single 301 redirect
# Matches if: not HTTPS OR not www
RewriteCond %{HTTPS} off [OR]
RewriteCond %{HTTP_HOST} !^www\. [NC]
RewriteRule ^(.*)$ https://www.samratjha.com/$1 [R=301,L]

# If the request is not for a real file or directory
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Rewrite all requests to the root index.html
RewriteRule ^ index.html [QSA,L]